[Unit]
Description=Nest Server
After=network.target

[Service]
Type=simple
User=ubuntu

WorkingDirectory=/home/ubuntu/app
Environment="NODE_ENV=production"
EnvironmentFile=/home/ubuntu/app/.env
RestartSec=1
ExecStart=/usr/bin/node /home/ubuntu/app/server/dist/src/main.js
Restart=always

[Install]
WantedBy=multi-user.target
